<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <!-- Style Sheets includes -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="css/customstyle.css" rel="stylesheet" type="text/css">

    <!-- Script includes -->
	<script src="js/jquery-2.1.4.min.js"></script>
    <script data-require="angular.js@*" data-semver="1.3.14" src="js/angular.js"></script>
    
    <script src="js/bootstrap.min.js"></script>
    <script src="js/ui-bootstrap-tpls-0.12.0.js"></script>
     <script src="js/smart-table.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="data.js"></script>
    <script src="app.js"></script>
    <script src="initmap.js"></script>
    <style>
    html, body, #map {
        /*width: 25%;
        height: 25%;
        margin: 0;
        padding: 0;*/
    }
    #map {
         width: 10px;
         height: 500px;
         align-content: center;
        position: relative;
    }
	table {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 500px; /* this can vary */
}

table * {
    box-sizing: inherit;
    -moz-box-sizing: inherit;
}

thead {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

tbody {
    overflow-y: scroll;
    display: inline-block;
}

thead > tr, tbody > tr, tfoot > tr {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

thead, tfoot {
    flex-shrink: 0;
}

th, tbody td {
    width: 20%; /* this can vary */
    display: inline-block;
	
}

tfoot {
    display: inline-block;
}

tfoot td {
    width: 100%;
    display: inline-block;
}

                .contextmenu{
  visibility:hidden;
  background:#ffffff;
  border:1px solid #8888FF;
  z-index: 10;
  position: relative;
  width: 140px;
}
.contextmenu div{
padding-left: 5px
}
    </style>
</head>

<body ng-controller="ApplicationController as appctrl">

    <!--body ng-app="myApp" ng-controller="userCtrl" ng-init="init()"-->

    <div class="container">
      <div class="row">
          <div class="col-md-12">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">DHIS2</a>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a>
                        </li>
                        <!--<li><a href="#">Page 1</a></li>
        <li><a href="#">Page 2</a></li> 
        <li><a href="#">Page 3</a></li> !-->
                    </ul>
                </div>
            </div>
        </nav>
          </div>
          </div>

        <div class="row">
            <div class="col-md-12">
            
            

            <button type="button" id="btnou" class="btn btn-primary" ng-click="levelOU()">Organization Units </button>
            </button>
            <button type="button" id="btnchiefdom" class="btn btn-primary" ng-click="levelCD()">Chiefdom</button>
            </button>
            <button type="button" id="btndistrict" class="btn btn-primary" ng-click="levelD()">District </button>
            </button>

            <button type="button" id="btnfacility" class="btn btn-primary" ng-click="levelF()">Facility </button>
            </button>
            </div>
        </div>
       
      <div class="row">
          <div style="width:60%" class="col-md-12"> 
		  <table id="orgUnitsTable" st-table="displayedUnits" st-safe-src="allOrgUnits"  class="table table-striped">
                    <thead>
                        <tr>
                            <th st-ratio="20" st-sort="name">Name</th>
							<th st-ratio="20" st-sort="shortName">Short Name</th>
                            <th st-ratio="20" st-sort="parent.name">Parent Name</th>
                            <th st-ratio="10">Level</th>
							<th st-ratio="30">Options</th>
                        </tr>
                        <tr>
                            <th colspan="5"><input st-search="" class="form-control" placeholder="Enter search string here ..." type="text" /></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr st-select-row="record" st-select-mode="multiple" ng-repeat="record in displayedUnits">
                            <td st-ratio="20">{{record.name}}</td>
                            <td st-ratio="20">{{record.shortName}}</td>
                            <td st-ratio="20">{{record.parent.name}}</td>
                            <td st-ratio="10">{{record.level}}</td>
                            <td st-ratio="30">
                               <div style="position: relative;"  class="dropdown">
								<div style="z-index:999999;position: absolute; top:0; left:0; height: 200px"></div>
									<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
										select option
									<span class="caret"></span>
									</button>
									<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
									<li ng-show="record.level == 4"><a ng-click="locateUnitOnMap(record.name)">Locate on Map</a></li>
									<li><a href="#" ng-click="showEditableForm(record.code,record.level,record.id,record.name,record.href,record.shortName,record.created,record.coordinates)">Edit org. unit details</a></li>
									<li ng-show="record.level != 4"><a href="#" ng-click="showInsertForm(record.code,record.level,record.id,record.name,record.href)">Add new facility</a></li>
									</ul>
								</div></div>
                            </td>
                        </tr>
                    </tbody>
					<tfoot>
			<tr>
				<td colspan="5" class="text-center">
					<div st-pagination="" st-items-by-page="25" st-template="pagination.custom.html"></div>
				</td>
			</tr>
		</tfoot>
                </table>
        <!--table class="table table-striped">
            <thead>
                <tr>
                    <th>Organizational Units</th>
                    <th>Levels</th>
                    <th>Options
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="record in records | filter:filters.search| filter: filters.searchdd | filter:customFilter(unit)">
                    <td>{{ record.name }}</td>
                    <td>{{appctrl.currentOrgType.name}}</td>
                    <td>
						<div class="dropdown">
							<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
								select option
							<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							<li><a ng-click="locateUnitOnMap(record.name)">Locate on Map</a></li>
							<li><a href="#">Edit Coordinates</a></li>
							<li><a href="#" ng-click="showEditableForm(record.code,record.level,record.id,record.name,record.href,record.shortName,record.created)">Edit org. unit details</a></li>
							<li><a href="#" ng-click="showInsertForm(record.code,record.level,record.id,record.name,record.href)">Add new facility</a></li>
							</ul>
						</div>
                    </td>
                </tr>
            </tbody>
        </table-->
        </div>
		 <div id="map" style="width:40%" class="col-md-12"></div>
    </div>
        
    <div class="row">
        <div class="col-md-12">
            <!--pagination total-items="totalItems" items-per-page="pageSize" ng-model="currentPage" ng-change="pageChanged()" max-size="10">  </pagination-->
        </div>
    </div>
    <div class="row">
       
    </div>
</div>
       

        <!-- Modal facility Start -->
        <div class="modal fade" id="addOU" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add Organization Unit</h4>
                    </div>
                    <div class="modal-body">
                        <form name="addUnitForm" ng-submit="addOrgUnit(unit)">

                            <label for="unit-name">Name</label>
                            <input ng-model="unit.name" placeholder="Name" class="form-control" />

                            <label for="unit-shortname">Short name</label>
                            <input ng-model="unit.shortName" placeholder="Short name" class="form-control" />

                            <label for="unit-parent">Parent Unit Name</label>
                            <input id="parentUnitName" readonly="true" ng-model="unit.parentName" class="form-control" />
							
                            <label for="unit-level">Level</label>
                            <input id="unitLevel" readonly="true" ng-model="unit.level" class="form-control" />
                            <input type="submit" class="btn btn-primary pull-right" value="Save" />

                        </form>
                    </div>
                </div>

            </div>
        </div>

        <!-- Modal facility end -->
        <!-- Edit Org Unit Details -->

        <div class="modal fade" id="editOU" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Edit Organization Unit</h4>
                    </div>
                    <div class="modal-body">
                        <form name="unitUpdateForm" ng-submit="updateOrgUnit(currentUnit)">

                            <label for="unit-name">Name</label>
                            <input id="currentUnitName" ng-model="currentUnit.name" placeholder="Name" class="form-control" />


                            <label for="unit-shortname">Short name</label>
                            <input id="currentUnitShortName" ng-model="currentUnit.shortName" placeholder="Short name" class="form-control" />
							<div id="coordinatesDiv">
							<label for="longitude">Longitude</label>
							<input id="longitude" ng-model="currentUnit.newlongitude" class="form-control" />
                            <!--input id="parentUnitName" readonly="true" ng-model="unit.parentName" class="form-control" /-->
							<label for="latitude">Latitude</label>
							<input id="latitude"  ng-model="currentUnit.latitude" class="form-control" />
							</div>
                            <input type="submit" class="btn btn-primary pull-right" value="Save" />
                        </form>
                    </div>
                </div>

            </div>
        </div>
		
		<!-- Modal Add facility from map Start -->
        <div class="modal fade" id="addMapOU" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add Facility</h4>
                    </div>
                    <div class="modal-body">
                        <form name="addUnitMapForm" ng-submit="addFacility(unit)">

                            <label for="unit-name">Name</label>
                            <input ng-model="unit.name" placeholder="Name" class="form-control" />

                            <label for="unit-shortname">Short name</label>
                            <input ng-model="unit.shortName" placeholder="Short name" class="form-control" />

                            <label for="unit-parent">Parent Unit Name</label>
							<select ng-model="unit.parentName" class="form-control" ng-change="updateParentUnitInfo()">	
								<option ng-repeat="item in LevelThreeUnits" value="{{item.name}}">
									{{item.name}}
								</option>
							 </select>
							 
							<label for="longitude">Longitude</label>
							<input id="longitude" readonly="true" ng-model="unit.longitude" value="4" class="form-control" />
                            <!--input id="parentUnitName" readonly="true" ng-model="unit.parentName" class="form-control" /-->
							<label for="latitude">Latitude</label>
							<input id="latitude" readonly="true"  ng-model="unit.latitude" value="4" class="form-control" />
							
                            <label for="unit-level">Level</label>
                            <input id="unitLevel" readonly="true" ng-model="unit.level" value="4" class="form-control" />

							
                            <input type="submit" class="btn btn-primary pull-right" value="Save" />

                        </form>
                    </div>
                </div>

            </div>
        </div>

        <!-- Modal facility end -->
</body>

</html>
