<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <!-- Style Sheets includes -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="css/customstyle.css" rel="stylesheet" type="text/css">

    <!-- Script includes -->
    <script data-require="angular.js@*" data-semver="1.3.14" src="js/angular.js"></script>
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/ui-bootstrap-tpls-0.12.0.js"></script>
    
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="data.js"></script>
    <script src="app.js"></script>
    <script src="initmap.js"></script>
    <style>
    html, body, #map {
        /*width: 25%;
        height: 25%;
        margin: 0;
        padding: 0;*/
    }
    #map {
         width: 1000px;
         height: 600px;
         align-content: center;
        position: relative;
    }
    </style>
</head>

<body ng-controller="ApplicationController as appctrl">

    <!--body ng-app="myApp" ng-controller="userCtrl" ng-init="init()"-->

    <div class="container">
      <div class="row">
          <div class="col-md-12">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">DHIS2</a>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a>
                        </li>
                        <!--<li><a href="#">Page 1</a></li>
        <li><a href="#">Page 2</a></li> 
        <li><a href="#">Page 3</a></li> !-->
                    </ul>
                </div>
            </div>
        </nav>
          </div>
          </div>

        <div class="row">
            <div class="col-md-12">
            
            

            <button type="button" id="btnou" class="btn btn-primary" ng-click="levelOU()">Organization Units </button>
            </button>
            <button type="button" id="btnchiefdom" class="btn btn-primary" ng-click="levelCD()">Chiefdom</button>
            </button>
            <button type="button" id="btndistrict" class="btn btn-primary" ng-click="levelD()">District </button>
            </button>

            <button type="button" id="btnfacility" class="btn btn-primary" ng-click="levelF()">Facility </button>
            </button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
            <h4>Search For the Organization Units</h4>
            </div>
        
        </div>
        <div class="row">


            <div class="col-sm-3 col-md-6">
                <input type="text" class="form-control" ng-model="filters.search" placeholder="Search for Organization Units">
            </div>
            <div class="col-sm-9 col-md-6">

                <label class="custom-select">
                    <!--<select  ng-model="filters.searchdd">
      <option selected disabled value="" style="display:block;"> Plese Select Level</option>
      <option  value="private">private</option>
      <option value="simple">simple</option>
      <option value="vip">vip</option>
      </select> -->
                    <select ng-model="appctrl.currentOrgType" ng-options="option.name for option in appctrl.levelOptions">
                        <option value="">Unit Type..</option>
                    </select>

                </label>
            </div>

        </div>
       
      <div class="row">
          <div class="col-md-12"> 
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Organizational Units</th>
                    <th>Levels</th>
                    <th>Options
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="record in records | filter:filters.search| filter: filters.searchdd | filter:customFilter(unit)">
                    <td>{{ record.name }}</td>
                    <td>{{appctrl.currentOrgType.name}}</td>
                    <td>
						<div class="dropdown">
							<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
								select option
							<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							<li><a ng-click="locateUnitOnMap(record.name)">Locate on Map</a></li>
							<li><a href="#">Edit Coordinates</a></li>
							<li><a href="#" ng-click="showEditableForm(record.code,record.level,record.id,record.name,record.href,record.shortName,record.created)">Edit org. unit details</a></li>
							<li><a href="#" ng-click="showInsertForm(record.code,record.level,record.id,record.name,record.href)">Add new facility</a></li>
							</ul>
						</div>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
        
    <div class="row">
        <div class="col-md-12">
            <pagination total-items="totalItems" items-per-page="pageSize" ng-model="currentPage" ng-change="pageChanged()" max-size="10">  </pagination>
        </div>
    </div>
    <div class="row">
        <div id="map" class="col-md-12"></div>
    </div>
</div>
       

        <!-- Modal facility Start -->
        <div class="modal fade" id="addOU" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add Organization Unit</h4>
                    </div>
                    <div class="modal-body">
                        <form name="addUnitForm" ng-submit="addOrgUnit(unit)">

                            <label for="unit-name">Name</label>
                            <input ng-model="unit.name" placeholder="Name" class="form-control" />

                            <label for="unit-shortname">Short name</label>
                            <input ng-model="unit.shortName" placeholder="Short name" class="form-control" />

                            <label for="unit-parent">Parent Unit Name</label>
                            <input id="parentUnitName" readonly="true" ng-model="unit.parentName" class="form-control" />
							
                            <label for="unit-level">Level</label>
                            <input id="unitLevel" readonly="true" ng-model="unit.level" class="form-control" />
                            <input type="submit" class="btn btn-primary pull-right" value="Save" />

                        </form>
                    </div>
                </div>

            </div>
        </div>

        <!-- Modal facility end -->
        <!-- Edit Org Unit Details -->

        <div class="modal fade" id="editOU" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Edit Organization Unit</h4>
                    </div>
                    <div class="modal-body">
                        <form name="unitUpdateForm" ng-submit="updateOrgUnit(currentUnit)">

                            <label for="unit-name">Name</label>
                            <input id="currentUnitName" ng-model="currentUnit.name" placeholder="Name" class="form-control" />


                            <label for="unit-shortname">Short name</label>
                            <input id="currentUnitShortName" ng-model="currentUnit.shortName" placeholder="Short name" class="form-control" />

                            <input type="submit" class="btn btn-primary pull-right" value="Save" />
                        </form>
                    </div>
                </div>

            </div>
        </div>





    
        

</body>

</html>
